<%- include("partials/_header") %>


   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
     
         <!-- header -->
         <%- include("partials/_menu") %>


         <!-- end header inner -->
      <!-- team -->
      <div class="team">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                    <span>02</span>
                     <h2>Our Service</h2>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="team_box text_align_center">
                     <div class="team_img">
                       <figure><img src="images/g1.jpg" alt="#"/></figure>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="team_box text_align_center">
                     <div class="team_img">
                       <figure><img src="images/g2.jpg" alt="#"/></figure>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="team_box text_align_center">
                     <div class="team_img">
                       <figure><img src="images/g3.jpg" alt="#"/></figure>
                     </div>
                  </div>
               </div>
                 <div class="col-md-4">
                  <div class="team_box text_align_center">
                     <div class="team_img">
                       <figure><img src="images/g4.jpg" alt="#"/></figure>
                     </div>
                  </div>
               </div>
                 <div class="col-md-4">
                  <div class="team_box text_align_center">
                     <div class="team_img">
                       <figure><img src="images/g5.jpg" alt="#"/></figure>
                     </div>
                  </div>
               </div>
                 <div class="col-md-4">
                  <div class="team_box text_align_center">
                     <div class="team_img">
                       <figure><img src="images/g6.jpg" alt="#"/></figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end team -->
      <!-- end footer -->
      <%- include("partials/_footer") %>

      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
      <script src="js/custom.js"></script>
        <script type="text/javascript">
         baguetteBox.run('.tz-gallery');
      </script>
   </body>
</html>